html {
    background: #D0CBC7;
  }
  
  .board {
    width: 550px;
    height: 550px;
    padding: 10px;
    border-radius: 10px;
    position: relative;
    margin-top:5%;
    left:30%;
    
  }
  
  
  .boardGrid {
    display: flex;
    width: calc(100% + 50px);
    flex-flow: row wrap;
    height: auto;
    position: absolute;
    top: -10px;
    left: -10px;
  }
  .gridSpace {
    min-height: 40px;
    min-width: 40px;
    margin-left: 40px;
    margin-right: -11px;
    margin-bottom: -7px;
    margin-top:35px;
    font-size: 0px;
    border-radius: 100%;
  }

  .black{
      background: black;
  }

  .white{
      background: white;
  }

  h1{
    min-height: 100%;
    font-family: "Helvetica Neue", Arial, sans-serif;
    text-align: center;
  }